@model Dictionary<int, Laboratorium_2.Models.Computer>

@{
    ViewData["Title"] = "Lista Komputerów";
}

<h2>Lista Komputerów</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Procesor</th>
            <th>Pamięć RAM</th>
            <th>Karta Graficzna</th>
            <th>Producent</th>
            <th>Data Produkcji</th>
            <th>Akcje</th> 
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Value.Name</td>
                <td>@item.Value.Processor</td>
                <td>@item.Value.Memory</td>
                <td>@item.Value.GraphicsCard</td>
                <td>@item.Value.Manufacturer</td>
                <td>@item.Value.ProductionDate.ToShortDateString()</td>
                <td>
                   
                    <a asp-action="Edit" asp-controller="Computer" asp-route-id="@item.Key" class="btn btn-primary">Edytuj</a>
                    <form asp-action="Delete" method="post" style="display: inline;">
                        <input type="hidden" name="id" value="@item.Key" />
                        <button type="submit" class="btn btn-danger">Usuń</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
