@model Laboratorium_2.Models.Computer

<h2>Komputer został pomyślnie dodany!</h2>

<div>
    <h3>Szczegóły:</h3>
    <p>Nazwa: @Model.Name</p>
    <p>Procesor: @Model.Processor</p>
    <p>Pamięć RAM: @Model.Memory GB</p>
    <p>Karta graficzna: @Model.GraphicsCard</p>
    <p>Producent: @Model.Manufacturer</p>
    <p>Data produkcji: @Model.ProductionDate.ToShortDateString()</p>
</div>
